.hero{
    height: 100vh;
    background: linear-gradient(180deg,#3ee29b,#e1ffea22 60%);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding-left: 80px;
    
}
.hero-left h2{
    color: #090909;
    font-size: 30px;
    font-weight: 700;
}
.hero-left p{
    color: #171717;
    font-size: 70px;
    font-weight: 700;
}
.hero-latest-btn{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:2px;
    width: 250px;
    height: 50px;
    color: white;
    background-color: #ff4141;
    font-size: 22px;
    border-radius: 75px;
    
}
.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hand-hand-icon{
    display: flex;
    align-items: center;
    gap: 7px;
    
}