.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    margin-top: 150px;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#e1ffea22,#47fdae 60%);
}
.offers-left{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.offers-left h1{
    color: #171717;
    font-size: 50px;
}
.offers-left p{
    color: #171717;
    font-size: 20px;
    font-weight:600;
}
.offers-left button{
    width: 200px;
    height: 50px;
     background-color: #ff4141;
    border-radius: 35px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.offers-right img{
    height: 565px;

}